@import '../../../styles/mixins';

.cardBody {
  @include flex(row,initial,space-between);
  gap: 16px;

  @include laptop {
    flex-direction: column;
  }
  .inputWithDescription {
    @include flex(column);
    max-width: 275px;
    .description {
      margin-bottom: 4px;
      font-family: 'Work medium', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: $blueGray900;

      @include laptop {
        font-size: 12px;
      }
    }
  }
  .calendarWithDescription {
    .description {
      margin-bottom: 4px;
      font-family: 'Work medium', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: $blueGray900;


    }
    .calendar {

    }
  }
}
