//resolutions
$laptop: 768px;
$phone: 568px;
$medium-phone: 414px;
//colors
$brandColorPrimary: #1B31A8;
$blueGray900: #1E2A32;
$blueGray400: #708797;
$blueGray600: #4D6475;
$brandColorSecondary: #0079FF;
$neutralWhite: #FFFFFF;
$snow: #E9EEF2;
$blueGray10: #F4F8FA;
$commonBlack: #1C1E1F;
//shadows
$cardShadow: 0px 16px 32px rgba(30, 42, 50, 0.08);
