@font-face {
  font-family: 'Rubik';
  src: url('../assets/fonts/Rubik-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Work bold';
  src: url('../assets/fonts/work-sans.bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Work medium';
  src: url('../assets/fonts/work-sans.medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
