@import "../../../styles/mixins";

.header {
  @include flex(row,center);

  .wrapper {
    @include flex(column);
    margin-left: 16px;

    .title {
      font-family: 'Rubik', sans-serif;
      font-size: 24px;
      line-height: 120%;
      color: $blueGray900;
      font-weight: 500;
      margin-bottom: 4px;

      @include laptop {
        font-size: 20px;
      }
    }
    .subtitle {
      font-family: 'Work medium', sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
      color: $blueGray400;

      @include laptop {
        font-size: 14px;
      }
    }
  }
}
